__pycache__/
.scrapecache/
.vscode/

*.pyc
*.pyo

*/__pycache__

sqldump/
venv/

modules/__pychache__/
modules/dist/
modules/webquerytools/google_client_secrets.json
modules/LICENSE
modules/pyproject.toml
modules/README.md

picfolder/shadowdir/dickshadow.png

disbotren.code-workspace


