doctype html
head
  title Whitelisted Apps
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
nav.navbar.navbar-expand-lg.navbar-dark(style='background-color:#9932CC')
  img.d-inline-block.align-top(src='./images/cooldog.jpg', width='50', height='60', alt='')
  a.navbar-brand(href='#') &nbsp&nbspRMS
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  span.navbar-text
    | Night Hell
  #navbarText.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.dropdown
        a#navbardrop.nav-link.dropdown-toggle.active(href='#', data-toggle='dropdown')
          | Secret Files
        .dropdown-menu.dropdown-menu-right
          a.dropdown-item(href='https://m5.paperblog.com/i/94/947347/top-10-laid-back-cats-L-l4W0gH.jpeg') AGENT POSTAL_CLAWS
          a.dropdown-item(href='https://i.redd.it/w3wlk3qji0421.jpg') CODENAME: BASKING B.E.A.R
block content
 
